<<<<<<< HEAD
.text1{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}
.text2{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
}
.clock{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}
img {
    margin-top: 120px;
    width: 17%;
=======
img {
    height: 92px;
    width: 272px;
    padding-top: 100px;
    padding-left: 530px;
}

.list1 {
    list-style-type: none;
    float: left;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* a:link,
a:visited {
    text-decoration: none;
    color: #404040;
    display: block;
} */
.link1{
    text-decoration: none;
    color: #404044;
    display: block;
}
.link2{
    text-decoration: none;
    color: #404044;
    display: block;
}
.link3{
    text-decoration: none;
    color: #404044;
    display: block;
   
}
.list2 {
    list-style-type: none;
    float: left;
    margin: 5px;
    padding: 5px;
}

.nav {
    margin-left: 1100px;
}

.input2 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.sign{
    position: relative;
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    border-width:6px 4px;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
    outline: none;
    margin-right:20px ;
    font-size: 13px;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 15px;
 
    

}
.sign1{
    color: white;
    text-decoration: none;
    text-align: center;
    
}
.input3 {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
    
}

.input1 {
    margin-left: 330px;
    margin-top: 22px;
    border: none;
    flex: 100%;
    letter-spacing: normal;
    text-indent: 0px;
    height: 34px;
    width: 480px;
    text-align: start;
    border: none;
    z-index: -1;
    appearance: textfield;
    word-wrap: break-word;
    word-spacing: normal;
    text-indent: 0px;
    cursor: text;

}

.googlesearch {
    background-color: #f8f9fa;
    border: 1px solid #f2f2f2;
}



.submit1 {
    color: #5f6368;
    float: left;
    margin-left: 550px;
    margin-top: 10px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius : 4px;
    height: 34px;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.submit2 {
    color: #5f6368;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #f2f2f2;
    border: 1px solid ;
    cursor: pointer;
    border-radius : 4px;
    height: 34px;
    width: 110px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.search1 {
    margin-top: 10px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    margin-left: 13px;

}

.search {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    margin: auto;
    width: 638px;
    width: auto;
    max-width: 584px;
    border-radius: 24px;
}


.footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    list-style-type: none;
    background-color: #f2f2f2;
}

.footnav {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial sans-serif;
    margin-left: 14px;
    margin-right: -20px;
    font-size: 14px;
    float: left;
    background-color: #f2f2f2;
   
}
.link4{
    display: block;
    text-decoration: none;
    color: #404044;
}
.footnav {
    text-decoration: underline;

}

.footnav,
a:hover {
    text-decoration: none;
>>>>>>> f7c801c171db2a05400f3504e836ef8dceaa6637
}